@font-face {
    font-family: 'JuneBug';
    src: url('JUNEBUG.TTF');
}
body{
    background-color: #F88158;
    color: #2D3238;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    scrollbar-width: none;
    min-height: 100vh;
    overflow-x: hidden;
    
    -ms-overflow-style: none;
}
.flex-body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
    align-items: center;
    justify-content: center;

}
.content-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    overflow-y: auto;
    padding: 2rem;
    
}

.input-box{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50rem;
    background-color: #bd6649;
    border-radius: 20px;
    border-style: solid;
    border-width: thick;
    border-color: #2D3238;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
    z-index: 2;
}

.input-title{
    margin: 1rem;
    font-size: 30px;
    font-weight: bold;
    z-index: 2;
}
.text-input{
    margin: 1rem;
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    border-width: thick;
    border-color: #2D3238;
    padding: 1rem;
    color: #2D3238;
    overflow: hidden;
    font-size: 25px;
    width: 15rem;
    align-items: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}
.button{
    margin: 1rem;
    width: 15rem;
    height: 4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display:flex;

    margin-left: auto;
    margin-right: auto;
    background-color: #F88158;
    border-radius: 50px;
    border-style: solid;
    border-width: thick;
    border-color: #2D3238;

    font-size: 25px;
    font-weight: bold;
    z-index: 2;
}
.button:hover{
    background-color: #bd6649;
}
.video-box{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    background-color: #2D3238;
    border-radius: 20px;
    border-style: solid;
    border-width: thick;
    border-color: #bd6649;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
    z-index: 2;
    align-items: center;
    justify-content: center;
    position:relative;
    
}
.scoreboard{
    height: 4rem;
    width: 10rem;
    background-color: black;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Sixtyfour", sans-serif;
    border-style: solid;
    border-radius: 10px;
}
.submit-video{
    visibility:hidden;
}
.scoreboardNumberone{
    font-size: 45px;
    color: white;
    display:flex;
    justify-content:center;
    text-align: center;
    align-items: center;
    border-right-style: dashed;
    border-right-color: yellow;
    width: 50%;
    color: red;
}
.scoreboardNumbertwo{
    font-size: 45px;
    color: white;
    display:flex;
    justify-content:center;
    text-align: center;
    align-items: center;
    width: 50%;
    color: red;
}

.info-button{
    position: absolute;
    bottom:10px;
    right:10px;
    width:4rem;
    height:4rem;
    border-radius:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bd6649;
}
.info-button:hover{
    background-color:#F88158;
}

#canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    margin: 1em auto;
    
}
.ball {
    position: absolute;
    display: inline-block;
    background-color: transparent;
    z-index: 0;
}
input[type="file"]{
    display: none;  
}

@media (max-width: 1000px){
    .flex-body{
        flex-direction: column;
    }
    .content-right{
        width: 100%;
    }
    .content-left{
        width: 100%;
        padding: 0rem;
        padding-bottom: 2rem;
    }
}