.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: rgb(80, 80, 80);
  font-family: 'Roboto', sans-serif;
  
  
}
.logoWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #F88158;
  border-radius: 10px;
  width:fit-content;
  height: 30%;
  text-align:center;
  padding: 2rem;
}

.logo{
  font-size:96px;
  color: black;
  margin-bottom: 1rem;
  font-weight: bold;
}

.description {
  font-size: 30px;
  color: rgb(255, 255, 255);
  
  margin-bottom: 1rem;
  font-style: italic;
}

.button{
  width: 16rem;
  height: 4rem;
  background-color: #F88158;
  border-radius: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display:flex;
  justify-content:center;
  font-size: 25px;
  
}
.button:hover{
  background-color: #bd6649
}
.inBoxButton{
  width: 16rem;
  height: 4rem;
  background-color: #bd6649;
  border-radius: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display:flex;
  justify-content:center;
  font-size: 25px;
}
.inBoxButton:hover{
  background-color: #8f523d;
}
.inputBox{
  width: 10rem;
  height: 4rem;
}
.guestFlowTopBox{
  display:flex;
  justify-content: space-around;
  flex-direction:row;
  width: 100%;
}
.guestFlowColumn{
  display:flex;
  justify-content:center;
  flex-direction:column;
  text-align: center;
}
.initialPopup{
  width: 70vw;
  height: 80vh;
  background-color: #F88158;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}
.nameInput{
  display: block;
  width: 20rem;
  height: 4rem;
  padding: 1rem;
  background-color: #8f523d;
  border-radius: 20px;
  font-size: 25px;
  overflow:hidden;
  font-family: 'Roboto', sans-serif;
}
.nameInputLabel{
  font-size: 30px;
  color: rgb(255, 255, 255);
  
  margin-bottom: 1rem;
  font-weight: bold;
}